.logo {
    background-color: blue;
    width: 100px;
}

.mainDiv {
    background-color: red; 
    height: 80px;
    width: 100vw; 
    display: flex;
    justify-content: space-between;
}

.rightMenu {
    background-color: green;
    width: 300px;
}